<div class="row">
  <div class="col-10 py-3">
    <h4>Personas</h4>
  </div>
  <div class="col-2 py-3">
    <button (click)="openAdd()" class="btn btn-success">+Nuevo</button>
  </div>
</div>
<div class="row mt-5 bg-light mx-3">
  <h5>Filtros</h5>
  <div class="col-5">
    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" class="form-control" placeholder="Nombre" aria-label="Example text with button addon" [(ngModel)]="nombre">
  </div>
  <div class="col-5">
    <label for="tipoDocumento">Tipo Documento</label>
    <select id="tipoDocumento" class="form-select" aria-label="Default select example" [(ngModel)]="tipoDocumento">
      <option value="">Todas</option>
      <option value="1">DNI</option>
      <option value="2">Pasaporte</option>
      <option value="3">CI</option>
    </select>
  </div>
  <div class="col-2">
    <button class="btn btn-primary" (click) = "getPersonsByFilter()">Buscar</button>
  </div>
</div>
<div class="row mt-5 bg-light mx-3">
  <h5>Personas</h5>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Numero Documento</th>
        <th scope="col">Tipo Documento</th>
        <th scope="col">Fecha Nacimiento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of list">
        <th scope="row">{{person.id}}</th>
        <td>{{person.nombre}}</td>
        <td>{{person.apellido}}</td>
        <td>{{person.numeroDocumento}}</td>
        <td>{{person.tipoDocumento}}</td>
        <td>{{person.fechaNacimiento}}</td>
        <td>
          <button (click) = "openEdit(person)" class="btn btn-primary">Editar</button> |
          <button (click) = "openDelete(person)" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
